h1 {
  text-align: center;
}
#card_holder{
  width: 615px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  display: inline-block;
  width: 100px;
  height: 150px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #8C8F8C;
  margin-right: 15px;
  margin-bottom: 15px;
}
p {
  text-align: center;
  opacity: 0;
  width: 50px;
}
#clear {
  opacity: 1;
  width: 120px;
  margin: 0 auto;
  border: 1px;
  border-style: dotted;
}
.correct {
  font-weight: bold;
}
